@{
    ViewBag.Title = "My Trips";
}
@*<center><h2 style="color: white;">@ViewBag.Title.</h2></center>*@
@*<h3>@ViewBag.Message</h3>*@
<br />
<br />
<table class="table table-striped table-hover ">
    <tbody>
        <tr style-="height:70px;">
            <td>Column content</td>
            <td>Column content</td>
        </tr>
        <tr>
    </tbody>
</table>
